@media (max-width: 768px) {
  .principalContent {
    width: 100%;
    background-image: url("../../assets/images/avion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleMain {
    margin-bottom: 3px;
    max-width: 100%;
    border-bottom: 2px solid #ffff;
  }

  .textContent {
    height: 100%;
    width: 100%;
    padding: 35% 5% 20% 5%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffff;
    font-size: 25px;
  }

  .textIntroduction {
    font-size: 22px;
    margin-top: 20px;
  }

  .boton {
    font-size: 20px;
    margin-top: 20px;
    color: #ffff;
    border: 2px solid #ffff;
    border-radius: 50px;
    position: absolute;
    padding: 5px 30px;
    font-family: "Lato", sans-serif;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .principalContent {
    width: 100%;
    background-image: url("../../assets/images/avion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleMain {
    padding-bottom: 5px;
    max-width: 80%;
    border-bottom: 2px solid #ffff;
  }

  .textContent {
    height: 100%;
    width: 100%;
    padding: 30% 5% 20% 5%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffff;
    font-size: 25px;
  }

  .textIntroduction {
    font-size: 30px;
    margin: 20px 0 20px 0;
    max-width: 80%;
  }

  .boton {
    font-size: 20px;
    margin-top: 20px;
    color: #ffff;
    border: 2px solid #ffff;
    border-radius: 50px;
    position: absolute;
    padding: 5px 30px;
    font-family: "Lato", sans-serif;
  }
}

/* monitor */
/* ----------------------------------------------------------- */

@media (min-width: 1025px) {
  .principalContent {
    width: 100%;
    background-image: url("./assets/images/avion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textContent {
    height: 100%;
    width: 100%;
    padding: 10% 5% 20% 5%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffff;
    font-size: 25px;
  }

  .titleMain {
    padding-bottom: 5px;
    max-width: 50%;
    border-bottom: 2px solid #ffff;
  }

  .textIntroduction {
    font-size: 25px;
    margin: 10px 0 15px 0;
    max-width: 50%;
  }

  .boton {
    font-size: 20px;
    color: #ffff;
    border: 2px solid #ffff;
    border-radius: 50px;
    position: absolute;
    padding: 5px 30px;
    font-family: "Lato", sans-serif;
  }
}
