/* movil */
@media (max-width: 768px) {
  .contorno {
    margin: 0 5%;
  }

  .parrafo {
    margin: 0px 0 30px 0;
    margin-bottom: 10px;
  }

}

/* tablet */
/* ----------------------------------------------------------- */

@media (min-width: 769px) and (max-width: 1024px) {
  .contorno {
    margin: 0 5%;
    padding-top: 40px;
  }

  .parrafo {
    margin: 0 0 10px 0;
  }
}

/* monitor */
/* ----------------------------------------------------------- */

@media (min-width: 1025px) {
  .contorno {
    margin: 0 10%;
    padding-top: 40px;
  }

  .parrafo {
    margin: 0 0 10px 0;
  }
}
