@media (max-width: 768px) {
  .cardQuien {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    background-color: #ffff;
    border-radius: 5px;
  }

  .separado {
    display: flex;
  }

  .arriba {
    width: auto;
    height: 40px;
    display: flex;
  }

  .abajo {
    width: auto;
    height: auto;
    display: flex;
    padding: 3% 5%;
  }

  .izquierda {
    width: 20%;
    height: 100%;
    border-right: 24px solid transparent;
    border-bottom: 40px solid #040844;
  }

  .derecha {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .titulo {
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

/* ---------------------------------------------------------- */

@media (min-width: 769px) and (max-width: 1024px) {
  .cardQuien {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    background-color: #ffff;
    border-radius: 5px;
  }

  .separado {
    display: flex;
  }

  .arriba {
    width: auto;
    height: 40px;
    display: flex;
  }

  .abajo {
    width: auto;
    height: auto;
    display: flex;
    padding: 2% 3%;
  }

  .izquierda {
    width: 25%;
    height: 100%;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #040844;
  }

  .derecha {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .titulo {
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .textoContenido {
    font-size: 15px;
  }
}

/* ---------------------------------------------------------- */
@media (min-width: 1025px) {
  .cardQuien {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin: 0 0 1% 0;
    background-color: #ffff;
    border-radius: 5px;
  }

  .separado {
    display: flex;
  }

  .arriba {
    width: auto;
    height: 40px;
    display: flex;
  }

  .abajo {
    width: auto;
    height: auto;
    display: flex;
    padding: 2% 3%;
  }

  .izquierda {
    width: 20%;
    height: 100%;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #040844;
  }

  .derecha {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .titulo {
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
  }

  .textoContenido {
    font-size: 15px;
  }
}
