

/* movil */
@media (max-width: 768px) {
  .workArea {
    margin: 120px 5% 0 5%;
  }
  
  .workArea2 {
    margin: 50px 5% 0 5%;
  }
}

/* tablet */
/* ----------------------------------------------------------- */

@media (min-width: 769px) and (max-width: 1024px) {
  .workArea {
    margin: 170px 5% 0 5%;
  }
  
  .workArea2 {
    margin: 50px 5% 0 5%;
  }
}

/* monitor */
/* ----------------------------------------------------------- */

@media (min-width: 1025px) {
}