/* movil */
.parte2 a button{
  font-weight: 500;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgba(19, 88, 156, 0.623) !important;
}
@media (max-width: 768px) {
  .logo {
    width: 90px;
    height: 90px;
    margin: 1% 5%;
    position: absolute;
    z-index: 1;
  }
}

/* tablet */
/* ----------------------------------------------------------- */

@media (min-width: 769px) and (max-width: 1024px) {
  .logo {
    width: 120px;
    height: 120px;
    margin: 1% 5%;
    position: absolute;
    z-index: 1;
  }
}

/* monitor */
/* ----------------------------------------------------------- */

@media (min-width: 1025px) {
    .logo {
    width: 120px;
    height: 120px;
    margin: 1% 5%;
    position: absolute;
    z-index: 1;
  }
}
