@media (max-width: 768px) {
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px #bdbdbd;
    margin: 5% 0;
    background-color: #ffff;
  }

  .separado {
    display: flex;
  }

  .arriba {
    width: auto;
    height: 40px;
    display: flex;
  }

  .abajo {
    width: auto;
    height: auto;
    display: flex;
    padding: 2% 3%;
  }

  .izquierda {
    width: 25%;
    height: 100%;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #040844;
  }

  .derecha {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .titulo {
    font-size: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .textoContenido {
    font-size: 20px;
  }
}

/* ---------------------------------------------------------- */

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 48%;
    display: flex;
    flex-direction: column;
    border: solid 1px #bdbdbd;
    margin: 2% 0;
    background-color: #ffff;
  }

  .separado {
    display: flex;
  }

  .arriba {
    width: auto;
    height: 40px;
    display: flex;
  }

  .abajo {
    width: auto;
    height: auto;
    display: flex;
    padding: 2% 3%;
  }

  .izquierda {
    width: 25%;
    height: 100%;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #040844;
  }

  .derecha {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .titulo {
    font-size: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .textoContenido {
    font-size: 20px;
  }
}

/* ---------------------------------------------------------- */
@media (min-width: 1025px) {
}
