* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* movil */
@media (max-width: 768px) {
  h1,
  h2,
  h3 {
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    font-size: 30px;
    margin: 0 0 5px 0;
  }

  h2 {
    margin: 0 0 10px 0;
    font-size: 25px;
  }

  h3 {
    margin: 0 0 10px 0;
  }

  p {
    font-family: "Lato", sans-serif;
    font-size: 15px;
  }

section{
  margin: 0 0 25px 0;
}

}

/* tablet */
/* ----------------------------------------------------------- */

@media (min-width: 769px) and (max-width: 1024px) {
  h1,
  h2,
  h3 {
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
  }

  h3 {
    margin: 0 0 10px 0;
  }

  p {
    font-family: "Lato", sans-serif;
    font-size: 15px;
  }

  section{
    margin: 5px 0 25px 0;
  }
}

/* monitor */
/* ----------------------------------------------------------- */

@media (min-width: 1025px) {

  h1,
  h2,
  h3 {
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
  }

  h3 {
    margin: 0 0 10px 0;
  }

  p {
    font-family: "Lato", sans-serif;
    font-size: 15px;
  }

  section{
    margin: 5px 0 35px 0;
  }
}
